<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>

    <form action="/login" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" required>

        <label for="password">Password: </label>
        <input type="text" name="password" required>

        <button type="submit">Log In</button>
    </form>
</body>
</html>